body{
    .main-image{
        background: url(/assets/main.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 40%;
    }

    .large-icon{
        height: 1.5em;
        width: 1.5em;
    }
}