<ion-header>
    <ion-toolbar>
        <ion-title>proposeQuote</ion-title>

        <ion-button fill="clear" slot="end" (click)="closemodal()">
            Close
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form-group" #quoteForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-list>
            <ion-item>
                <ion-label color="medium" position="floating">PoliticianName</ion-label>
                <ion-input clear-input [(ngModel)]="proposeQuoteModel.politicianName" id="politicianName" name="politicianName"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="medium" position="floating">Quote</ion-label>
                <ion-textarea autoGrow #quote="ngModel" [(ngModel)]="proposeQuoteModel.quote" id="quote" name="quote" type="text" required></ion-textarea>
                <div [hidden]="quote.valid"
                     class="alert alert-danger">
                    Quote is required
                </div>
            </ion-item>

            <ion-item>
                <ion-label color="medium" position="floating">Url</ion-label>
                <ion-input clear-input [(ngModel)]="proposeQuoteModel.url" id="url" name="url" type="text"></ion-input>
            </ion-item>

            <ion-button class="submit" padding-end="16" type="submit" [disabled]="!quoteForm.form.valid">Send</ion-button>
        </ion-list>
    </form>
</ion-content>