<ion-header>
    <ion-toolbar>
        <ion-title text-left>{{ translations && translations["chose_ui_language"]}}</ion-title>

        <ion-button fill="clear" slot="end" (click)="closemodal()">
            {{ translations && translations["close"]}}
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div class="language-item ukrainian" (click)="choseLanguage('ua')">
            <img width="300" height="300" src="/assets/images/icons/ukraine.svg" />
        </div>

        <div class="language-item russian" (click)="choseLanguage('ru')">
            <img width="300" height="300" src="/assets/images/icons/russia.svg" />
        </div>
    </div>
</ion-content>
