<ion-app>
    <ion-menu contentId="content1" side="end" menuId="menu">
        <ion-header>
            <ion-toolbar color="medium">
                <ion-title>{{translations && translations["menu"]}}</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item (click)="presentProposeQuotesModal();"><ion-icon name="quote"></ion-icon>{{translations && translations["propose_quotes"]}}</ion-item>
                <ion-item (click)="updateConfig();"><ion-icon name="refresh"></ion-icon>{{translations && translations["check_for_updates"]}}</ion-item>
                <ion-item (click)="showGetCoinsAlert();"><ion-icon name="radio-button-off"></ion-icon>{{translations && translations["get_coins"]}}</ion-item>
                <ion-item (click)="presentChooseLanguageModal();"><ion-icon name="text"></ion-icon>{{translations && translations["chose_languge"]}}</ion-item>
                <ion-item><ion-icon name="star-half"></ion-icon>{{translations && translations["put_mark_for_app"]}}</ion-item>
                <ion-item *ngIf="canShareUsingModileApp" (click)="shareInFbClick();"><ion-icon name="logo-facebook"></ion-icon>{{translations && translations["share_in_fb"]}}</ion-item>

                <!--https://github.com/MurhafSousli/ngx-sharebuttons/wiki/Share-Button-Directive-->
                <!-- <ion-item *ngIf="!canShareUsingModileApp && !isIos" shareButton="facebook" url={{linkToShare}}>
                    <ion-icon name="logo-facebook"></ion-icon>{{translations && translations["share_in_fb"]}}
                </ion-item> -->

                <ion-item *ngIf="!canShareUsingModileApp" (click)="shareInFbClickBrowser();">
                    <ion-icon name="logo-facebook"></ion-icon>{{translations && translations["share_in_fb"]}}
                </ion-item>

                <ion-item *ngIf="showExitButton" (click)="exitApp();"><ion-icon name="exit"></ion-icon>{{translations && translations["exit"]}}</ion-item>
            </ion-list>

            <a class="hidden" id="FbHidden" href="https://www.facebook.com/sharer/sharer.php?u={{linkToShare}}" target="_blank"></a>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>