<ion-app>

  <ion-menu contentId="content1" side="end" menuId="menu">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="presentModal();"><ion-icon name="quote"></ion-icon>Propose quotes</ion-item>
        <ion-item><ion-icon name="radio-button-off"></ion-icon>Get coins</ion-item>
        <ion-item><ion-icon name="text"></ion-icon>Language</ion-item>
        <ion-item><ion-icon name="star-half"></ion-icon>Put mark</ion-item>
        <ion-item><ion-icon name="share"></ion-icon>Share</ion-item>
        <ion-item><ion-icon name="exit"></ion-icon>Exit</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>