/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@media screen and (max-width: 350px) {
    #MainList.android {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 12px;
                    }

                    span.person-post {
                        font-size: 10px;
                    }

                    .new-tracks-available {
                        height: 20px !important;
                    }

                    .person-traks-count{
                        height: 20px !important;
                        width: 35% !important;
                        left: 32.5% !important;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    #MainList.ios {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 14px;
                    }

                    span.person-post {
                        font-size: 12px;
                    }

                    .new-tracks-available {
                        height: 20px !important;
                    }

                    .person-traks-count {
                        height: 20px !important;
                        width: 35% !important;
                        left: 32.5% !important;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    .ios .track-name {
        font-size: 12px !important;
    }

    .android .track-name {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 351px) {
    .centered-title {
        font-size: 18px !important;
    }

    ion-toolbar {
        font-size: 18px !important;

        ion-title {
            font-size: 1em;
        }
    }

    #MainList {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 16px;
                    }

                    span.person-post {
                        font-size: 14px;
                    }

                    .person-traks-count{
                        height: 25px;
                        width: 35% !important;
                        left: 32.5% !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    .track-name {
        font-size: 14px !important;
    }
}

@media screen and (min-width: 390px) {
    .centered-title {
        font-size: 18px !important;
    }

    ion-toolbar {
        font-size: 18px !important;

        ion-title {
            font-size: 1em;
        }
    }

    #MainList {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 16px;
                    }

                    span.person-post {
                        font-size: 12px;
                    }

                    .person-traks-count{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .track-name {
        font-size: 14px !important;
    }
}

@media screen and (min-width: 410px) {
    .centered-title {
        font-size: 18px !important;
    }

    ion-toolbar {
        font-size: 18px !important;

        ion-title {
            font-size: 18px !important;
        }

        ion-button {
            font-size: 18px !important;
        }
    }

    #MainList {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 16px;
                    }

                    span.person-post {
                        font-size: 14px;
                    }

                    .person-traks-count{
                        font-size: 14px;
                    }

                    .new-tracks-available {
                        height: 27px;
                        width: 27px;
                    }
                }
            }
        }
    }

    .track-name {
        font-size: 14px !important;
    }
}

@media screen and (min-width: 600px) {
    ion-toolbar {
        font-size: 22px !important;
    }

    #MainList {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 22px;
                    }

                    span.person-post {
                        font-size: 18px;
                    }

                    .person-traks-count{
                        height: 25px;
                        width: 28% !important;
                        left: 36% !important;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .track-name {
        font-size: 20px !important;
    }

    ion-content {
        .language-item {
            width: 35% !important;
            height: auto;
            margin: 5% auto 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .centered-title {
        font-size: 22px !important;
    }

    #MainList {
        .scroll-area {
            .item {
                .person-info {
                    .person-name {
                        font-size: 24px;
                    }

                    span.person-post {
                        font-size: 20px;
                    }

                    .person-traks-count{
                        height: 25px;
                        width: 28% !important;
                        left: 36% !important;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .track-name {
        font-size: 20px !important;
    }
}
