<ion-header>
    <ion-toolbar>
        <ion-title class="center">Home</ion-title>
        <ion-menu-button autoHide="false" slot="end" color="medium"></ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content id="HomePageContent" scroll-y="false">
    <img id="MainImage" />

    <div id="MainList">
        <div scroll-x="true" class="scroll-area">
            <div class="item" *ngFor="let person of config?.Persons" (tap)="itemClick(person)"
                (click)="itemClick(person)">
                <img class="size-helper" src="assets/images/politicians/klichko/klichko.png" width="129" height="183" />

                <div class="person-info">
                    <span class="person-name">{{person.Name}}</span>
                    <br />
                    <span class="person-post">{{person.Post}}</span>
                    <br />

                    <ion-badge class="person-traks-count" color="medium">
                        <ion-icon name="quote"></ion-icon>
                        &nbsp;88
                    </ion-badge>
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both;"></div>
</ion-content>