<ion-header>
    <div [className]="platformClass">
        <ion-toolbar>
            <ion-title class="centered-title">{{translations && translations["list"]}}</ion-title>

            <ion-buttons slot="start">
                <ion-menu-button autoHide="false" color="medium"></ion-menu-button>
            </ion-buttons>

        </ion-toolbar>
    </div>
</ion-header>

<ion-content id="HomePageContent" scroll-y="false">

    <img id="MainImage" [src]="homeImageUrl" width="100" height="100"/>
    <div class="coins-container">
        <div class="coins-icon"></div>
        <span class="coins-count">{{this.dbContext.cachedCoinsCount}}</span>
    </div>

    <div id="MainList" #MainList>
        <!--<div scroll-x="true" class="scroll-area">-->

        <ion-content scroll-x="true" scroll-y="false">
            <ion-list class="scroll-area">
                <div class="item" [style.width.px]="listItemWidth" [style.min-width.px]="listItemWidth" *ngFor="let person of configManager.config?.Persons.sort(compare)" (tap)="itemClick(person)"
                     (click)="itemClick(person)">

                    <img *ngIf="!isIos" class="size-helper" src="{{person.ListButtonDevicePath}}" width="129" height="183" />

                    <img *ngIf="isIos && person.Infos[0]?.Name != 'Incognito'" class="size-helper" [src]="person.ListButtonDevicePathIos" width="129" height="183" />

                    <img *ngIf="isIos && person.Infos[0]?.Name == 'Incognito'" class="size-helper" [src]="person.ListButtonDevicePath" width="129" height="183" />

                    <div class="person-info">
                        <span class="person-name" [innerHTML]="person.Infos[languageManager.languageIndex]?.Name"></span>
                        <hr class="person-info-hr" />
                        <span class="person-post" [innerHTML]="person.Infos[languageManager.languageIndex]?.Post"></span>


                        <ion-badge class="person-traks-count" color="medium">
                            <ion-icon name="quote"></ion-icon>
                            &nbsp;{{getTracksCount(person)}}
                        </ion-badge>

                        <ion-icon *ngIf="areUnlockedTracksAvailable(person)" name="eye" class="new-tracks-available"></ion-icon>
                    </div>
                </div>
            </ion-list>
        </ion-content>
    </div>

    <div style="clear:both;"></div>
</ion-content>