.center{
    text-align:center;
}

#MainImage
{
    display: block;
    width:100%;
    height:40%;
    background: url(/assets/images/main.jpg) no-repeat;
    background-size: cover;
}

.segment-ios .segment-button ion-icon {
    float: right;
    right: 5px;
    position: absolute;
}

scroll-content{
	background-color: rgb(41, 221, 171);
}

ion-col{
	padding: 16px;
	border: solid 1px #DDD;
	background-color: rgb(221, 41, 91);
	color: #FFF;
	border-radius: 3px;
	margin: 5px;
}

#HomePageContent
{
    .scroll-content{
        display:flex;
        flex-direction:column;
        overflow-y:hidden;
    }
}

#MainList{

    height: calc(100% - 40%);

   .scroll-area
    {
        height:100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        .scroll-zoom-wrapper
		{
			display:flex;
            height:100%;
		}

        .item{
            display: inline-block;
            height: calc(100% - 2px);
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            
            .size-helper
            {
                height:70%;
                width:auto;
            }

            img{
                max-width: none;
            }

            .person-info {
                width: 100%;
                height: 30%;
                background: dark-grey;
                text-align: center;

                .person-name{
                    font-size: 0.8rem;
                    border-bottom: 2px solid black;
                    margin-bottom: 0.3rem;
                    color: black;
                }

                .person-traks-count{
                    font-size: 0.8rem;
                }

                span{
                    display: inline-block;
                    margin-bottom: 0.6rem;
                    color: darkgrey;
                    font-size: 0.7rem;
                }
            }
        }

        .item:not(:last-child)
        {
            margin-right: 1%;
        }
    }
}