<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!--<ion-back-button></ion-back-button>-->

            <ion-button slot="start" (click)="goToHomePage()">
                <ion-icon slot="icon-only" [name]="getBackButtonIcon()"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="centered-title">{{this.person?.Infos[languageManager.languageIndex].Name}}</ion-title>
    </ion-toolbar>
</ion-header>


<div>
    <img *ngIf="!isIos" class="politician-main-image" src="{{person?.MainPicDevicePath}}" />

    <img *ngIf="isIos" class="politician-main-image" [src]="domSanitizer.bypassSecurityTrustUrl(person?.MainPicDevicePath)" />
</div>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let track of this.person?.Tracks" key="track.Id" (tap)="playStopUnlockTrack(track)" (click)="playStopUnlockTrack(track)">
            <img *ngIf="!isIos" class="politician-small-image" slot="start" src="{{person.SmallButtonDevicePath}}" />

            <img *ngIf="isIos" class="politician-small-image" slot="start" [src]="domSanitizer.bypassSecurityTrustUrl(person.SmallButtonDevicePath)" />
            <span>{{track.Name}}</span>
            <ion-button class="track-play-button" shape="round" slot="end" color="medium">
                <ion-icon [name]="getTrackIcon(track)" size="small"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
