.politician-main-image{
    width: 100%;
    height: auto;
}

.politician-info{
    text-align: center;
    padding: 10px 0;
}

.politician-post{
    font-size: 1rem;
}

.politician-small-image{
    width: 20%;
    height: auto;
}

.track-play-button{
    width: 2.5rem;
    height: 2.5rem;
}