@font-face {
    font-family: 'Roboto Slab', serif;
    src: url('/assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

* {
    font-family: 'Roboto Slab', serif;
}

.politician-main-image{
    width: 100%;
    height: auto;
}

.politician-info{
    text-align: center;
    padding: 10px 0;
}

.politician-post{
    font-size: 1rem;
}

.politician-small-image{
    width: 20%;
    height: auto;
}

.track-play-button{
    width: 2.5rem;
    height: 2.5rem;
}

ion-item:not(:last-child) {
    margin-bottom: 1%;
}

.centered-title {
    position: absolute;
    left: 7%;
    width: 86%;
    top: calc(50% - 15%);
    text-align: center;
    font-size: 0.9rem;
}